.menu {
  background-color: #fff;
  background-image: url(../images/background_menu.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
  position: relative;
  font-family: "Inter", Arial, sans-serif;
}

.menu__title {
  max-width: 780px;
  text-align: center;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: auto;
}

.menu__subtitle {
  max-width: 780px;
  margin: 24px auto 100px;
  text-align: center;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.menu__cards {
  margin: auto;
  display: flex;
  flex-direction: row;
  column-gap: 100px;
  row-gap: 100px;
  justify-content: center;
  flex-wrap: wrap;
}
