.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0 120px 0;
  position: relative;
}

.reservation__title {
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0;
  margin-bottom: 80px;
  text-align: center;
}

.reservation__form .form__fieldset {
  max-width: 385px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  margin: 0 auto;
  position: relative;
  padding: 0;
}

.form__label {
  font-weight: 500;
}

.form__input {
  width: 100%;
  margin: 8px 0 32px;
  border-radius: 4px;
  padding: 20px 15px;
  box-sizing: border-box;
}

.form__button {
  width: 100%;
  background-color: #1878dc;
  color: #fff;
  margin-bottom: 32px;
  padding: 20px;
  border-radius: 4px;
  transition: background-color 0.5s linear;
}

.form__button:hover {
  background-color: #3f96f3;
}

.form__input[type="checkbox"] {
  border-radius: 2px;
  border-color: #838383;
  height: 20px;
  width: 20px;
  margin: 0 12px 0 0;
  vertical-align: middle;
}

.form__label[for="terms-agree"] {
  display: flex;
  justify-content: center;
  margin: 0;
}
